.vscode
.idea
.venv
__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.env
*.DS_Store
*.egg-info
dist
build
*.egg
*.whl
*.tar.gz
*.zip
*.bak
*.tmp
*.swp
*.swo
*.swn
.ruff_cache
.pytest_cache
.coverage
.coverage.*
htmlcov